a {
  text-decoration: none;
}

a > p {
  margin: 0;
  padding-bottom: 5%;
  color: #ffffff;
}

h1{
  font-size: 4rem;
  font-weight: 700;
}

h2{
  font-size: 3rem;
  font-weight: bold;
}

h3{
  font-size: 2rem;
  font-weight: normal;
  margin: 20px 0;
}

p{
  font-size: 2rem;
  margin: 10px;
}