@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700;900&display=swap');

*, html{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
}

html, body {
  position:fixed;
  width:100%;
  height:100%;
}

body {
  background: rgb(168, 168, 168);
  font: normal 15pt Arial;
}

:root {
  font-size: 62.5%;
}